<li class="nav-item dropdown" *ngIf="cartItems.length > 0">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    Sepet
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <div class="container" >
      <div class="row" *ngFor="let item of cartItems">
        <div class="col">
          {{item.product.productName}}
        </div>
        <div class="col">
          {{item.quantity}}
        </div>
        <button class="col" (click)="removeFromCart(item)">
          Sil
        </button>
      </div>
    </div>
    <li>
      <hr class="dropdown-divider">
    </li>
    <div class="container">
      <div class="row">
        <button type="button" class="col-md-8 btn btn-success" routerLink="/cart/show">
          Sepete Git
        </button>
        <img class="col-md-4" src="../../../assets/sepet.png" width="10">
      </div>
    </div>
  </ul>
</li>


